
.flex-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#btn-clickavel{
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: #e60404;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: white;
    border: none;
    margin-left: 170px;
    margin-top: 18px;
}

h1{
    text-align: center;
    margin-top: 200px;
    background-color: white;

}

#btn-bait {
    font-size: 25px;
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #e60404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Alinha o texto verticalmente */
}

#rogerioceni {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
